<label>Server Name</label>
<!-- <input type="text" class = "form-control" (input) = "onServerNameUpdate($event)"> -->
<input type="text" class = "form-control" [(ngModel)] = "serverName" placeholder="Default">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="getDisabledStatus()" (click)="generateNewServer()">Add Server</button>
<!-- <p [innerText]="getDisabledStatus()"></p> -->
<p *ngIf="serverCreated">{{additionalServers}}</p>
<!-- <div [innerHTML]="additionalServers.innerHTML"></div> -->
<app-server *ngFor="let server of servers"></app-server>